@tailwind base;
@tailwind components;
@tailwind utilities;

._image-container {
    position: relative;

    & > span {
        position: static !important;
        height: 100% !important;
    }
}

._image {
    object-fit: contain;
    width: 100% !important;
    position: static !important;
    height: unset !important;
}

._backdrop {
    background: rgb(0, 0, 0);
    background: linear-gradient(
        90deg,
        rgba(0, 0, 0, 1) 0%,
        rgba(0, 0, 0, 0) 100%
    );
}
