.github/actions/next-stats-action/.work
.github/workflows/**/*
**/__tmp__/**
**/_next/**
**/.next/**
**/dist/**
bench/nested-deps/components/**/*
bench/nested-deps/pages/**/*
lerna.json
node_modules
packages/next-codemod/**/*.d.ts
packages/next-codemod/**/*.js
packages/next-codemod/transforms/__testfixtures__/**/*
packages/next-codemod/transforms/__tests__/**/*
packages/next-env/**/*.d.ts
packages/next-swc/crates/**/*
packages/next/bundles/webpack/packages/*.runtime.js
packages/next/bundles/webpack/packages/lazy-compilation-*.js
packages/next/compiled/**
packages/react-dev-overlay/lib/**
packages/react-refresh-utils/**/*.d.ts
packages/react-refresh-utils/**/*.js
pnpm-lock.yaml
test-timings.json
test/**/out/**